<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ng-href="#" ui-sref="landing">Before you start</a></li>
        <li><a ng-href="#" ui-sref="interview">Interview</a></li>
        <li><a ng-href="#" ui-sref="report">Report</a></li>
        <li><a ng-href="#" ui-sref="about">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Symphony logo goes here</li>
      </ul>
    </div>
  </div>
</nav>
