<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <h1>Front-End Developer Candidate Interview</h1>

  <div bs-active-pane="tabs.activeTab" bs-tabs>
    <div ng-repeat="section in competencies" title="{{ section.name }}" bs-pane>
      <p class="intro">{{ section.description }}</p>
      <competency-rating rated-by-self="a" rated-by-peer="b"></competency-rating>
      <div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse>
        <div class="panel panel-default" ng-repeat="subsection in section.drilldown">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a bs-collapse-toggle>
                {{ subsection.name }}
              </a>
            </h4>
          </div>
          <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-body row">
              <div class="section-description col-md-6">
                <p>{{ subsection.description }}</p>
                <ul ng-if="subsection.items.length">
                  <li ng-repeat="item in subsection.items">
                    {{item}}
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <additional-notes notes="c" score="d"></additional-notes>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
